.newUser{
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    border:3px solid rgb(111, 0, 255);

}
.input{
    padding: 5px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 12px;
    width: 100%;
    border:1px solid rgba(53, 53, 53, 0.384);

    box-sizing: border-box;
}